<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings file="PrivateSettings.config">
      <add key="UriProd" value="https://www.altinn.no" />
      <add key="UriTest" value="https://tt02.altinn.no" />
      <add key="Origin" value="https://www.wazalo.com" />
    </appSettings>
</configuration>
